.bg-color {
  background-color: #fbfbf4;
}

.bg-color-nav {
  background-color: #fff9f4;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-notoSans {
  font-family: "Noto Sans", sans-serif;
}
.font-lato {
  font-family: "Lato", sans-serif;
}

.nav-item {
  position: relative;
}
.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff6900;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.nav-item:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #898686 !important;
  opacity: 0.025 !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.1 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  filter: invert(1);
}

.carousel-indicators > button {
  background-color: rgba(107, 103, 103, 0.898) !important;
}

.p-card > h5 {
  font-size: max(2.5vw, 12px);
  font-weight: 900 !important;
  text-align: center;
}

.p-card > p {
  font-size: max(1.25vw, 12px);
  text-align: center;
}

.gradiente-fondo {
  height: 30vw;
  background: linear-gradient(to right, #f05f57, #360940);
}

.term-container {
  position: relative;
  top: -15vw;
  left: 15vw;
  width: 70%;
  background-color: #ffffff;
  border-radius: 1rem;
  z-index: 1;
}

.term-container h3 {
  font-size: max(1.66vw, 12px);
  font-weight: bolder;
}
.term-container p,
.term-container li {
  font-size: max(1.33vw, 10px);
  text-align: justify;
}

/* cambiar el color de fondo cuando se hace foco a un header del acordeon */
button.accordion-button:not(.collapsed) {
	color: /*var(--bs-accordion-active-color)*/ rgb(137, 7, 163) !important;
	background-color: transparent !important;
	box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #ff6900 !important;
}

/* cambia el color de las flechas del acordeon a naranja */
.accordion-button::after {
  filter: invert(50%) sepia(100%) saturate(4468%) hue-rotate(347deg) brightness(85%)
   contrast(95%);
}

/* vuelve semi-violeta oscuro a los titulos del acordeon */
.accordion-header > button{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder !important;
}

.box {
  transition: box-shadow .4s;
  /* background: #fff;
  float: left; */
  
}

.box:hover {
  box-shadow: -1px 4px 43px -2px rgba(122,58,15,1);; 
}

/************************    Media Queries    *****************************/


@media (max-width: 900px) {
  .p-card > h5 {
    font-size: 3vh;
  }

  .p-card > p {
    font-size: 2vh;
  }
}


@media (max-width: 700px) {
  .hero {
    height: 43vw !important;
  }
  .sub-hero > h1 {
    font-size: 2.1em !important;
  }
}